.wrapper {
}
.title {
  text-transform: uppercase;
  font-size: 40px;
  margin: 0;
  margin-bottom: 10px;
}
.usersWrapper > div {
  margin-bottom: 20px;
}
.usersWrapper > div:last-child {
  margin-bottom: 0;
}
.button {
  display: block;
  margin: 30px auto 0;
  width: 300px;
  height: 80px;
  background-color: green;
  border: none;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 30px;
}
.numbers {
  display: flex;
  font-size: 25px;
  /* max-width: 930px; */
  overflow: hidden;
}
.numbers > span {
  margin-right: 5px;
  margin-left: 5px;
}

.selectedPage {
  font-weight: bold;
}
