<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../../../css/Dialogs.css" />
  </head>
  <body>
    <section class="dialogs">
      <h3 class="dialogs-title">Dialogs</h3>
      <div class="dialogs-wrapper">
        <ul class="dialogs-interluctors">
          <li class="dialogs-interluctors-item">
            <span class="dialogs-interluctors-item__name">Andrew</span>
          </li>
          <li class="dialogs-interluctors-item">
            <span class="dialogs-interluctors-item__name">Dmitry</span>
          </li>
          <li class="dialogs-interluctors-item">
            <span class="dialogs-interluctors-item__name">Sasha</span>
          </li>
          <li class="dialogs-interluctors-item">
            <span class="dialogs-interluctors-item__name">Sveta</span>
          </li>
          <li class="dialogs-interluctors-item">
            <span class="dialogs-interluctors-item__name">Valera</span>
          </li>
          <li class="dialogs-interluctors-item">
            <span class="dialogs-interluctors-item__name">Viktor</span>
          </li>
        </ul>
        <div class="dialogs-correspondense"></div>
      </div>
    </section>
  </body>
</html>
