.dialogs-title {
  text-transform: uppercase;
  font-size: 40px;
  margin: 0;
  margin-bottom: 10px;
}
.dialogs-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.dialogs-interluctors {
  width: 30%;
  margin: 0;
  border-right: 2px solid green;
  display: flex;
  flex-direction: column;
}

.dialogs-correspondense {
  width: 70%;
  padding: 10px;
}
