* {
  box-sizing: border-box;
}
.wrapper {
  box-sizing: border-box;
  margin: auto;
  width: 1250px;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 70px 1fr;
  row-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
}
