.dialogs-interluctors-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 30px;
  color: grey;
  text-decoration: none;
}
.dialogs-interluctors-item.active {
  color: black;
  font-weight: 500;
}
.dialogs-interluctors-item:last-child {
  margin-bottom: 0;
}
.dialogs-interluctors-item__avatar {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid black;
  margin-right: 10px;
}
